<div class="container">

    <div class="jumbotron">
        <h1 class="text-center"><span class="fa fa-fire"></span> Matchmaker</h1>
        <hr>
        <h2 class="text-center">Answer ten questions and find your closest match!</h2>
        <br>

        <div class="text-center">
        <a href="/friends"><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span> View People</button></a>
        <a href="/questions"><button class="btn btn-lg btn-danger"><span class="fa fa-credit-card"></span> Add a Profile</button></a>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
        <p><a href="/api/friends">People</a> | <a href="/api/waitlist">API Wait List</a>
        </div>
    </footer>
    
</div>
