
<nav class="deep-purple lighten-1" role="navigation" style="height: 80px">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo" ><img src="assets/images/love-logo-hi.png" style="width:48px"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://ocskier.github.io/JRJ-Folio/" style="line-height: 80px;">Portfolio</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>Site Map</li>
        <hr>
        <li><a href="/">Site Map</a></li>
        <li><a href="/friends">Community</a></li>
        <li><a href="/questions">Profile</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center">Match Maker</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive dating application utilizing full-stack web development!</h5>
      </div>
      <div class="row center justify-content-center" style="display: flex; flex-wrap: wrap; justify-content:center">
        <a href="/friends" id="download-button" class="btn-large waves-effect waves-light deep-purple lighten-4" style="margin-right: 10px">View People</a>
        <a href="/questions" id="download-button" class="btn-large waves-effect waves-light deep-purple lighten-4" style="margin-left: 10px">Add A Profile</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"></h2>
            <h5 class="center">Discover your match using our secret love algorithm!</h5>

            <p class="center">Click on Add A Profile above to get started or People to see current members.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer deep-purple lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Copyright</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a href="/api/friends" class="white-text">API Table Link</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a href="/api/match" class="white-text">API Match</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
