

  <div class="container">

    <div class="jumbotron">
      <h1 class="text-center">
        <span class="fa fa-fire"></span>Matchmaker</h1>
      <hr>
      <h2 class="text-center">Add your Profile</h2>
      <br>
      <div class="text-center">
        <a href="/friends">
          <button class="btn btn-lg btn-primary">
            <span class="fa fa-list-alt"></span> View People</button>
        </a>
        <a href="/">
          <button class="btn btn-lg btn-default">
            <span class="fa fa-home"></span>
          </button>
        </a>
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-6">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="First Last Name">
          </div>
        </form>
      </div>
      
      <div class="col-lg-6">
        <!-- Reservation Page -->
            <div class="card">
                <div class="card-header">
                    Strongly Disagree = 0              Strongly Agree = 10
                </div>
            </div>
            {{#each quests}}

                  <div class="card">
                      <div class="card-header">
                        {{question}}
                      </div>
                        <form style= "position: relative; margin: 50px 5px;">
                          <input type="range" name="foo" min="0" max="10">
                          <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
                        </form>
                    </div>
            {{/each}}
        
      </div>
      
    </div>


    <footer class="footer">
      <div class="container">
        <p>
          <a href="/api/tables">API Table Link</a> |
          <a href="/api/waitlist">API Wait List</a>
      </div>
    </footer>

  </div>

<!-- BELOW CODE IS CRITICAL. IT HANDLES HOW FORM DATA IS SENT TO OUR SERVER -->
<script type="text/javascript">
  // In this code below we create the Front-end JavaScript which "POSTS" our form data to our express server.
  // In essence, when the user hits submit, jQuery grabs all of the fields then sends a post request to our api
  // Our api recognizes the route (/api/tables)... and then runs the associated code (found in api-routes.js).
  // In this case the associated code "saves" the data to the table-data.js file or waitinglist-data.js file

  $(".submit").on("click", function(event) {
    event.preventDefault();

    // Here we grab the form elements
    var newReservation = {
      customerName: $("#reserve-name").val().trim(),
      phoneNumber: $("#reserve-phone").val().trim(),
      customerEmail: $("#reserve-email").val().trim(),
      customerID: $("#reserve-unique-id").val().trim()
    };

    console.log(newReservation);

    // This line is the magic. It"s very similar to the standard ajax function we used.
    // Essentially we give it a URL, we give it the object we want to send, then we have a "callback".
    // The callback is the response of the server. In our case, we set up code in api-routes that "returns" true or false
    // depending on if a tables is available or not.

    $.post("/api/tables", newReservation,
      function(data) {

        // If a table is available... tell user they are booked.
        if (data) {
          alert("Yay! You are officially booked!");
        }

        // If a table is available... tell user they on the waiting list.
        else {
          alert("Sorry you are on the wait list");
        }

        // Clear the form when submitting
        $("#reserve-name").val("");
        $("#reserve-phone").val("");
        $("#reserve-email").val("");
        $("#reserve-unique-id").val("");

      });

  });
  var el, newPoint, newPlace, offset;
 
// Select all range inputs, watch for change
function modifyOffset() {
    var el, newPoint, newPlace, offset, siblings, k;
    width    = this.offsetWidth;
    newPoint = (this.value - this.getAttribute("min")) / (this.getAttribute("max") - this.getAttribute("min"));
    offset   = -1;
    if (newPoint < 0) { newPlace = 0;  }
    else if (newPoint > 1) { newPlace = width; }
    else { newPlace = width * newPoint + offset; offset -= newPoint;}
    siblings = this.parentNode.childNodes;
    for (var i = 0; i < siblings.length; i++) {
        sibling = siblings[i];
        if (sibling.id == this.id) { k = true; }
        if ((k == true) && (sibling.nodeName == "OUTPUT")) {
            outputTag = sibling;
        }
    }
    outputTag.style.left       = newPlace + "px";
    outputTag.style.marginLeft = offset + "%";
    outputTag.innerHTML        = this.value;
}

function modifyInputs() {
    
    var inputs = document.getElementsByTagName("input");
    for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].getAttribute("type") == "range") {
            inputs[i].onchange = modifyOffset;

            // the following taken from http://stackoverflow.com/questions/2856513/trigger-onchange-event-manually
            if ("fireEvent" in inputs[i]) {
                inputs[i].fireEvent("onchange");
            } else {
                var evt = document.createEvent("HTMLEvents");
                evt.initEvent("change", false, true);
                inputs[i].dispatchEvent(evt);
            }
        }
    }
}

modifyInputs();

</script>
